extends layout

block content
  div(class='content', style='text-align: center;')
    img(src='https://spi.ne/static/frontpage/images/logo_small.png')
    h1= title
    p Congratulations! Your app is now running on #{title}.
