doctype html
html
  head
    title #{title} Example App
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='apple-touch-icon' href='https://spi.ne/static/frontpage/images/apple-touch-icon.png')
    link(rel='icon' type='image/png' href='https://spi.ne/static/frontpage/images/favicon-32x32.png' sizes='32x32')
    link(rel='icon' type='image/png' href='https://spi.ne/static/frontpage/images/favicon-16x16.png' sizes='16x16')
  body
    block content
